.wrapper {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;

	@media (max-width: 1150px) {
		justify-content: space-around;
	}
}

.wrapper_off {
	display: none;
}

.pagination_wrapper {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	column-gap: 10px;
}

.pagination_item {
	cursor: pointer;
	font-family: 'Neue Haas Grotesk Display Pro';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 130%;

	color: #9d9d9d;

	// &_ {
	// 	color: black;
	// }
}
