.button {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    padding: 16px 24px;
    background: #0B0B0B;
    border: none;
    transition: 0.4s background;

    &:hover {
        background: #9D9D9D;
    }

    &:active {
        background: #0B0B0B;
    }

    span {
        font-family: 'Georama',
        sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #fff;
    }
}