.to_cart{
    border:1.5px solid #0B0B0B;
    width: 192px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    transition: 0.4s all;
    span{
        font-family: 'Neue Haas Grotesk Display Pro';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #0B0B0B;
    }
    &:hover{
        background-color: #0B0B0B;
        span{
            color: #fff;
        }
    }

    &:active {
        background-color: #9D9D9D;

        span {
            color: #fff;
        }
    }

}