.colors {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;

    div {
        border: 1.5px solid transparent;
        transition: 0.3s border;
        cursor: pointer;
        padding: 5px;

        div {
            display: block;
            width: 31px;
            height: 31px;
        }

        &.active {
            border-color: #0b0b0b;
        }
    }

}