.colors {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;

    div {
        border: 1.5px solid transparent;
        transition: 0.3s border;
        padding: 5px;

        .size43 {
            width: 31px;
            height: 31px;
        }
        .size30 {
            width: 20px;
            height: 20px;
        }

        &.active {
            border-color: #0b0b0b;
        }
         &.cursor {
             cursor: pointer;
         }
    }

}