.wrapper{
    width: 100%;
}

.inputs_wrapper{
    display: flex;
    
    @media (max-width: 1050px) {
            display: flex;
            flex-direction: column;
        }
}

.inputs_wrapper:nth-child(2){
  margin-top: 30px;
  @media (max-width: 1050px) {
    margin-top: 0px;
    }
}

.wrapper_inner {
       width: 50%;
        @media (max-width: 1050px) {
            width: 100%;
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;
        }
}

.second_wrapper{
    margin-top: 30px;
}


