$gray-color: #9D9D9D;

.cart_block {
    border: 1px solid $gray-color;
    padding: 20px;
    min-height: 200px;
    position: relative;

    .item {
        padding: 10px 0;
        border-top: 1.5px solid $gray-color;

        &:last-child {
            border-bottom: 1.5px solid $gray-color;
        }
    }

    h2 {
        font-family: 'Russo One';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 15px;
    }

    .total {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;

        span {
            font-family: 'Georama',
                sans-serif;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            color: $gray-color;
        }
    }
}