.wrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-row-gap: 50px;
	grid-column-gap: 30px;
	@media (max-width: 834px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media (max-width: 428px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 320px) {
		grid-template-columns: repeat(1, 1fr);
	}
}

.catalogItem {
	display: flex;
	flex-direction: column;
}

.title {
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 26px;
	color: #0b0b0b;
	margin-top: 20px;
	margin-bottom: 8px;
}

.price {
	font-family: 'Georama', sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: rgba(0, 0, 0, 0.6);
}

.footer {
	display: flex;
	margin-top: 16px;
	border: 1.5px solid #0b0b0b;
}

.button {
	flex: 1 1 auto;
	text-align: center;
	border: none;
	outline: none;
	padding: 12px 82px;
	background-color: transparent;
	border-right: 1.5px solid #0b0b0b;
	font-family: 'Georama', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #0b0b0b;
}

.icon {
	position: relative;
	width: 43px;
	height: 43px;
	border: none;
	outline: none;
	background-color: transparent;

	// &::after {
	// 	content: '';
	// 	display: inline-block;
	// 	left: 50%;
	// 	top: 50%;
	// 	transform: translateY(-50%);
	// 	transform: translateX(-50%);
	// 	width: 22px;
	// 	height: 22px;
	// 	background: url('../../../../assets/icons/catalog/catalogLikes.svg')
	// 		no-repeat;
	// }
}
