.wrapper{
    display: flex;
    gap: 30px;
    // height: 900px;
    @media (max-width: 900px) {
        display: block;
    }
}

.nav_dekstop{
    display: block;
    @media (max-width: 900px) {
        display: none;
    }
}

.nav_mobile{
    display: none;
    @media (max-width: 900px) {
        display: block;
    }
}

.display{
    display: block;
    width: 100%;
    min-width: 0px;
    @media (max-width: 900px) {
        display: none;
    }
}

.link{
    text-transform: none;
}

.input_wrapper_on{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
    align-items: center;

    font-family: 'Georama', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    max-width: 804px;


    color: #000000;
    .input_wrapper{
        display: flex;
        justify-content: flex-end;
       

    .input {
        padding-left: 10px;
        background: none;
        width: 100%;
        border: none;
        // border-radius: 8px;
        // margin-right: 5px;
        border: #000000 solid 1px;
        border-right: none;
        
        // padding-left: 15px;
    }

    .input::placeholder {
        font-family: 'Georama', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
    }

    .input:focus {
        outline: none;
        // border: none;
        // box-shadow: 0 0 5px #999;
    }
    }
    
}

.input_wrapper_off{
    display: none;
}

//module window 

.backround_module{
    position: absolute;
    top: 0;
    margin-left: -105px;
    // height: 180vh;
    width: 100vw; 

    background: #0B0B0B;
    opacity: 0.25;
}

.backroundModuleMore{
    position: absolute;
    top: 0;
    margin-left: -105px;
    height: 230vh;
    width: 100vw;
    
    background: #0B0B0B;
    opacity: 0.25;
}



// .module_wrapper{
//     margin-left: -105px;
//     position: absolute;
//     top: 0;
//     height: 100vh;
//     width: 100vw;
//     margin-top: 70px;
   
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

// .module_inner{
//     width: 601px;
//     background-color: white;
//     padding: 20px 30px; 

// }

// .title_wrapper{
//     width: 100%;
//     display: flex;
//     gap: 15px;
//     flex-direction: column;
//     align-items: center;
//     margin-bottom: 50px;

//     .title{
//         font-family: 'Russo One';
//         font-style: normal;
//         font-weight: 400;
//         font-size: 32px;
//         line-height: 39px;
        
//         color: #0B0B0B;
//     }

//     .subtitle{
//         font-family: 'Georama', sans-serif;
//         font-style: normal;
//         font-weight: 500;
//         font-size: 18px;
//         line-height: 22px;
 
//         color: #9D9D9D;
//     }
// }

// .inputs_wrapper{
//     display: flex;
//     flex-direction: column;
//     gap: 15px;

//     .input_inner{
//         display: flex;
//         flex-direction: column;
//         gap: 10px;

//         .title{
//             font-family: 'Georama', sans-serif;
//             font-style: normal;
//             font-weight: 500;
//             font-size: 20px;
//             line-height: 24px;
//             color: #0B0B0B;
//         }

//         .label_input_file{
//             padding: 14px 20px;
//             border: 1.5px solid #9D9D9D;
//             cursor: pointer;

//             font-family: 'Georama', sans-serif;
//             font-style: normal;
//             font-weight: 400;
//             font-size: 18px;
//             line-height: 22px;

//             color: #9D9D9D;
//         }

//         .input_choice_photo{
//             padding: 14px 20px;
//             border: 1.5px solid #9D9D9D;
//             display: flex;
//             justify-content: space-between;
//             cursor: pointer;
            

//             font-family: 'Georama', sans-serif;
//             font-style: normal;
//             font-weight: 400;
//             font-size: 18px;
//             line-height: 22px;

//             color: #9D9D9D;

            

        
//         }

//         .open_icon{
//             width: 24px;
//             height: 24px;
//         }

//         .input_choice_color{
//             padding: 14px 20px;
//             border: 1.5px solid #9D9D9D;
//             display: flex;
//             justify-content: space-between;
//             cursor: pointer;
            

//             font-family: 'Georama', sans-serif;
//             font-style: normal;
//             font-weight: 400;
//             font-size: 18px;
//             line-height: 22px;

//             color: #9D9D9D;

         
//         }


//         .input_file{
//             height: 0.5px;
//             width: 0.5px;
//             visibility: hidden;
//         }


        

//     }

    
//     .btn{
//         display: flex;
//         padding: 16px 164px;
//         background-color: #000000;
        

//         font-family: 'Georama', sans-serif;
//         font-style: normal;
//         font-weight: 500;
//         font-size: 20px;
//         line-height: 24px;

//         color: #FFFFFF;

//     }
// }

// .sizes{
//     width: 100%;
//     display: flex;
//     gap: 30px;
// }

.pagination_wrapper{
    display: flex;
    gap: 10px;
    height: 20px;
    justify-content: center;
    max-width: 803px;

    .item{
        cursor: pointer;
        color: #9D9D9D;
    }

    .item_active{
        cursor: pointer;
        color: #0B0B0B;
    }
}