.body {
	display: flex;
	align-items: flex-start;
	gap: 30px;
	@media (max-width: 680px) {
		flex-direction: column;
		gap: 40px;
	}
}

.main {
	&_content {
		width: 100%;
	}
	&_item {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		@media (max-width: 680px) {
			flex-direction: row;
			gap: 24px;
			width: 100%;
		}
		@media (max-width: 410px) {
			gap: 14px;
			align-items: center;
		}
		@media (max-width: 350px) {
			gap: 12px;
		}
	}
	&_text {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 41px;
		padding-bottom: 30px;
		border-bottom: 1.5px solid #9d9d9d;
		margin-bottom: 30px;
		@media (max-width: 680px) {
			margin-top: 0;
		}
		@media (max-width: 350px) {
			padding-bottom: 16px;
			margin-bottom: 16px;
		}
	}
	&_title {
		margin-bottom: 15px;
		font-family: 'Russo One';
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 39px;
		color: #0b0b0b;
		word-break: break-all;
		@media (max-width: 880px) {
			font-size: 24px;
			line-height: 29px;
		}
		@media (max-width: 530px) {
			font-size: 18px;
			line-height: 22px;
		}
	}
	&_price {
		font-family: 'Georama';
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #9d9d9d;
		@media (max-width: 880px) {
			font-size: 18px;
			line-height: 22px;
		}
		@media (max-width: 530px) {
			font-size: 14px;
			line-height: 17px;
		}
	}
	&_img {
		@media (max-width: 880px) {
			width: 235px;
			height: 228px;
		}
		@media (max-width: 530px) {
			width: 205px;
			height: 218px;
		}
		@media (max-width: 410px) {
			width: 180px;
		}
		@media (max-width: 380px) {
			width: 150px;
		}
		@media (max-width: 330px) {
			width: 125px;
			height: 205px;
		}
	}
}

.items {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.item {
	padding: 10px 0;
	border-top: 1.5px solid #9d9d9d;
	display: flex;
	&:last-child {
		border-bottom: 1.5px solid #9d9d9d;
	}
}

.content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.imgWrapper {
	margin-right: 30px;
	@media (max-width: 740px) {
		margin-right: 15px;
	}
}
.img {
	max-height: 128px;
	@media (max-width: 750px) {
		max-height: 100%;
	}
}

.text {
	max-width: 551px;
	margin-right: 153px;
	@media (max-width: 1024px) {
		margin-right: 53px;
	}
	@media (max-width: 740px) {
		margin-right: 15px;
	}
}
.title {
	font-family: 'Russo One';
	font-style: normal;
	font-weight: 400;
	font-size: 22px;
	line-height: 27px;
	color: #0b0b0b;
	word-wrap: break-word;
	max-width: 100%;
	@media (max-width: 880px) {
		font-size: 20px;
		line-height: 24px;
	}
	@media (max-width: 428px) {
		font-size: 18px;
		line-height: 22px;
	}
	@media (max-width: 330px) {
		font-size: 16px;
		line-height: 19px;
	}
}

.descr {
	font-family: 'Georama';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: #9d9d9d;
	margin-top: 5px;
	margin-bottom: 20px;
	word-wrap: break-word;
	max-width: 100%;
	@media (max-width: 880px) {
		font-size: 14px;
		line-height: 17px;
	}
	@media (max-width: 330px) {
		font-size: 12px;
		line-height: 14px;
	}
}

.price {
	font-family: 'Georama';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	color: rgba(0, 0, 0, 0.6);
	@media (max-width: 880px) {
		font-size: 16px;
		line-height: 19px;
	}
}

.plus {
	margin-top: -15px;
	min-width: 32px;
	min-height: 32px;
	color: #0b0b0b;
	outline: none;
	border: none;
	background: transparent url('../../../assets/icons/cart/cartPlus.svg')
		no-repeat center center/contain;
	@media (max-width: 1024px) {
		margin-top: -25px;
		margin-right: 5px;
	}
	@media (max-width: 740px) {
		margin-right: 0;
	}
	@media (max-width: 340px) {
		max-width: 24px;
		max-height: 24px;
	}
}

.skip_wrapper {
	text-align: right;
}
.skip {
	display: inline-block;
	margin-top: 27px;
	border: 1.5px solid #0b0b0b;
	padding: 16px 24px;
	font-family: 'Georama';
	font-style: normal;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	color: #0b0b0b;
	background-color: transparent;
	text-align: center;
	&:hover {
		color: white;
		background-color: #0b0b0b;
	}
	@media (max-width: 880px) {
		margin-top: 40px;
	}
}

.selects {
	width: 100%;
	display: flex;
	justify-content: space-between;
	@media (max-width: 530px) {
		flex-wrap: wrap;
		gap: 16px;
	}
}

.select_size {
	position: relative;
	flex: 0 1 45%;
	> button:first-child {
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 16px;
			background-image: url('../../../assets/icons/catalog/catalogIcon.svg');
			width: 24px;
			height: 24px;
		}
		&:hover {
			color: #ffffff;
			background-color: #0b0b0b;
			transition: 0.3s linear color;
			&::after {
				background-image: url('../../../assets/icons/catalog/catalogIconWhite.svg');
			}
		}
	}
	> button.open:first-child {
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 16px;
			background-image: url('../../../assets/icons/catalog/sortIconOpen.svg');
			width: 24px;
			height: 24px;
		}
		&:hover {
			color: #ffffff;
			background: #9d9d9d;
			transition: 0.3s linear color;
			border-color: #9d9d9d;
			&::after {
				background-image: url('../../../assets/icons/catalog/sortIconOpenWhite.svg');
			}
		}
	}
	@media (max-width: 530px) {
		flex: 1 1 80%;
	}
}

.select_color {
	position: relative;
	flex: 0 1 45%;
	> button:first-child {
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 16px;
			background-image: url('../../../assets/icons/catalog/catalogIcon.svg');
			width: 24px;
			height: 24px;
		}
		&:hover {
			color: #ffffff;
			background-color: #0b0b0b;
			transition: 0.3s linear color;
			&::after {
				background-image: url('../../../assets/icons/catalog/catalogIconWhite.svg');
			}
		}
	}
	> button.open:first-child {
		&::after {
			content: '';
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 16px;
			background-image: url('../../../assets/icons/catalog/sortIconOpen.svg');
			width: 24px;
			height: 24px;
		}
		&:hover {
			color: #ffffff;
			background: #9d9d9d;
			transition: 0.3s linear color;
			border-color: #9d9d9d;
			&::after {
				background-image: url('../../../assets/icons/catalog/sortIconOpenWhite.svg');
			}
		}
	}
	@media (max-width: 530px) {
		flex: 1 1 80%;
	}
}

.color_btn {
	width: 100%;
	display: inline-block;
	position: relative;
	font-family: 'Georama', sans-serif;
	border: 1px solid #0b0b0b;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #0b0b0b;
	background-color: white;
	padding: 7px 17.5px 7px 8px;
	transition: 0.3s linear color;
	height: 44px;

	p {
		width: 30px;
		height: 30px;
	}

	&:hover {
		color: #ffffff;
		background-color: #0b0b0b;
		transition: 0.3s linear color;
	}
	&:active {
		background-color: #9d9d9d;
	}
}
.size_btn {
	width: 100%;
	display: inline-block;
	position: relative;
	border: 1px solid #0b0b0b;
	font-family: 'Georama';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	display: flex;
	align-items: center;
	color: #9d9d9d;
	background-color: white;
	padding: 7px 17.5px 7px 8px;
	transition: 0.3s linear color;
	text-align: left;
	height: 44px;
	&:hover {
		color: #ffffff;
		background-color: #0b0b0b;
		transition: 0.3s linear color;
	}
	&:active {
		background-color: #9d9d9d;
	}
}

.color_droplist {
	display: flex;
	flex-direction: column;
	position: relative;
	top: -2px;
	// position: absolute;
	// width: 100%;
	// top: 44px;
	button {
		border-top: none;
	}
}

.size_droplist {
	display: flex;
	flex-direction: column;
	// position: absolute;
	// width: 100%;
	// top: 44px;
	button {
		border-top: none;
	}
}

.open {
}

// compare modal styles

.modal {
	position: fixed;
	z-index: 10000;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url('../../../assets/images/compareModalBG.png') no-repeat center
		center/cover;
	&_body {
		background-color: #ffffff;
		margin: 15% auto;
		padding: 20px;
		width: 600px;
		min-height: 355px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@media (max-width: 1034px) {
			margin: 15% auto;
		}
		@media (max-width: 500px) {
			margin: 22% auto;
		}
		@media (max-width: 640px) {
			width: 90%;
		}
		@media (max-width: 428px) {
			padding: 30px 16px;
		}
	}
	&_header {
		display: flex;
		gap: 30px;
		margin-bottom: 50px;
		width: 100%;
		@media (max-width: 640px) {
			flex-direction: column;
		}
	}
	&_content {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&_title {
		font-family: 'Russo One';
		font-style: normal;
		font-weight: 400;
		font-size: 32px;
		line-height: 39px;
		color: #0b0b0b;
		word-wrap: break-word;
		max-width: 316px;
		@media (max-width: 428px) {
			font-size: 24px;
			line-height: 29px;
		}
	}
	&_descr {
		font-family: 'Georama';
		font-style: normal;
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #9d9d9d;
		margin-bottom: 30px;
		margin-top: 15px;
		word-wrap: break-word;
		max-width: 316px;
	}
	&_text {
		width: 100%;
		border-bottom: 1.5px solid #9d9d9d;
		margin-bottom: 30px;
	}
	&_img {
		@media (max-width: 640px) {
			width: 100%;
		}
	}
	&_btns {
		width: 100%;
		display: flex;
		justify-content: space-between;
		@media (max-width: 640px) {
			flex-direction: column;
			gap: 24px;
		}
	}
	&_btn {
		flex: 0 1 48%;
		padding: 16px 32px;
		font-family: 'Georama';
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;
		border: 1.5px solid #0b0b0b;
	}
	&_cancelBtn {
		color: #0b0b0b;
		background-color: #ffffff;
	}
	&_addBtn {
		color: #ffffff;
		background-color: #0b0b0b;
	}
}
