.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
	@media(max-width: 640px) {
		justify-content: center;
	}
}

.goodsCount {
	font-family: "Georama", sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 130%;
	color: #0b0b0b;
	@media(max-width: 640px) {
		display: none;
	}
}
