.wrapper {
  padding: 10px 12.5px;
  height: 44px;
  display: flex;
  align-items: center;
  border: 1.5px solid #9d9d9d;
  gap: 10px;
  cursor: pointer;

  font-family: 'Georama', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  display: flex;

  color: #9d9d9d;
}

.size {
  min-width: 33px;
  // min-width: min-content;
}

.remove {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}
