.paginationWrapper {
	margin-top: 50px;
	margin-bottom: 150px;
	display: flex;
	gap: 10px;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	flex-wrap: wrap;
}

.paginationItem {
	cursor: pointer;
	border: none;
	outline: none;
	background-color: transparent;
	display: inline-block;
	font-family: 'Georama', 'sans-serif';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 130%;
	color: #9d9d9d;
	padding: 5px 10px;
	&:hover {
		color: #0b0b0b;
	}
}

