.product{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;

    @media (max-width: 600px) {
        width: 124px;
    }
}

.img{
    // position: absolute;
    cursor: pointer;
    @media (max-width: 600px) {
            width: 154px;
    }
    @media (max-width: 320px) {
        width: 124px;
    }
  
}

.description{
    margin-top: 10px;
    font-family: 'Georama', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;

    color: #0B0B0B;
}

.price{
    margin-top: 10px;
    font-family: 'Georama', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;

    color: rgba(0, 0, 0, 0.6);
}

