.product{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    position: relative;
    transition: opacity 0.5s ease-in-out;
}

.img{
    // position: absolute;
    cursor: pointer;
}

.description{
    margin-top: 10px;
    font-family: 'Georama', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    color: #0B0B0B;
}

.price{
    margin-top: 10px;
    font-family: 'Georama', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
/* identical to box height */


color: rgba(0, 0, 0, 0.6);
}

