.about {
    display: flex;
    padding-bottom: 65px;
    gap: 30px;
    align-items: flex-end;

    @media(max-width:768px) {
        flex-direction: column;
        align-items: center;
    }
    @media(max-width:430px) {
        margin-top: 40px;
    }

    a {
        text-decoration: none;
    }

    &_img {
        img {
            object-fit: contain;
            display: block;
        }

        @media (max-width:992px) {
            img {
                max-width: 300px;
                max-height: 392px;
            }
        }

        @media (max-width:768px) {
            img {
                max-width: 380px;
                max-height: 550px;
            }
        }

        @media(max-width: 430px) {
            img {
                max-height: 370px;
                max-height: 370px;
            }
        }
    }

    &_description {
        h2 {
            font-family: 'Russo One';
            font-style: normal;
            font-weight: 400;
            font-size: 40px;
            line-height: 48px;
            color: #0B0B0B;

            @media (max-width: 992px) {
                font-size: 32px;
                line-height: 39px;
            }
        }

        p {
            font-family: 'Georama', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #0b0b0b4a;
            margin: 20px 0 50px 0;

            @media (max-width: 992px) {
                font-size: 16px;
                line-height: 19px;
                margin: 10px 0 50px 0;
            }
        }

        @media(max-width:768px) {
            text-align: center;
        }
    }
}

.instagram_btn {
    @media (max-width: 768px) {
        margin: 0 auto;
    }
}