.slide_item{
    width: 285px;

    h3{
        font-size: 22px;
        line-height: 26px;
        margin-top: 20px;
    }

    span{
        font-size: 18px;
        line-height: 22px;
    }
}

.title_box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    gap: 10px;
    h3{
        font-family: 'Russo One';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 58px;
        @media(max-width: 768px) {
            font-size: 32px;
            line-height: 39px;
        }
        @media(max-width: 576px) {
            font-size: 24px;
            line-height: 29px;
            display: flex;
            align-items: center;
        }
}

div {
    display: flex;
    gap: 25px;
    }

}

.slider_box{
    margin: 100px auto;
    @media (max-width: 1200px) {
        margin: 65px auto;
    }
    @media(max-width:768px){
        margin-bottom: 20px;
    }
}

.slider{
    cursor: grab;
    &:active{

        cursor: grabbing;
    }

    @media(max-width: 768px){
        min-width: 768px;
    }
}