.button {
	display: inline-block;
	font-family: 'Georama', sans-serif;
	border: 1px solid #0b0b0b;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #0b0b0b;
	background-color: white;
	padding: 14px 40px;
	transition: 0.3s linear background;
	&:active {
		color: #ffffff;
		background: #9d9d9d;
		transition: 0.3s linear background;
		border-color: #9d9d9d;
	}
	&:hover {
		color: #ffff;
		background-color: #0b0b0b;
	}
	@media (max-width: 428px) {
		padding: 14px 19px;
		flex: 1 1 48%;
		font-size: 18px;
	}
	@media (max-width: 420px) {
		font-size: 16px;
	}
	@media (max-width: 375px) {
		font-size: 14px;
		padding: 14px 10px;
	}
}
.buttonSort {
	width: 100%;
	display: inline-block;
	position: relative;
	font-family: 'Georama', sans-serif;
	border: 1px solid #0b0b0b;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #0b0b0b;
	background-color: white;
	padding: 14px 65px 14px 16px;
	transition: 0.3s linear color;

	&::after {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 16px;
		background-image: url('../../../../../assets/icons/catalog/catalogIcon.svg');
		width: 24px;
		height: 24px;
	}
	&:hover {
		color: #ffffff;
		background: #9d9d9d;
		transition: 0.3s linear color;
		border-color: #9d9d9d;
		&::after {
			background-image: url('../../../../../assets/icons/catalog/catalogIconWhite.svg');
		}
	}
	&:active {
		background-color: #0b0b0b;
	}

	@media (max-width: 834px) {
		&::after {
			display: none;
		}
		padding: 14px 40px;
	}
	@media (max-width: 490px) {
		padding: 14px 19px;
		font-size: 18px;
	}
	@media (max-width: 420px) {
		font-size: 16px;
	}
	@media (max-width: 375px) {
		font-size: 14px;
		padding: 14px 10px;
	}
}

.sortUp_icon {
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 16px;
		background-image: url('../../../../../assets/icons/catalog/catalogSortUp.svg');
		width: 24px;
		height: 24px;
	}
	&:hover {
		color: #ffffff;
		background: #9d9d9d;
		transition: 0.3s linear color;
		border-color: #9d9d9d;
		&::after {
			background-image: url('../../../../../assets/icons/catalog/checkboxSortIcon.svg');
		}
	}
	&:active {
		background-color: #0b0b0b;
	}
}

.sortDown_icon {
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 16px;
		background-image: url('../../../../../assets/icons/catalog/catalogSortDown.svg.svg');
		width: 24px;
		height: 24px;
	}
	&:hover {
		color: #ffffff;
		background: #9d9d9d;
		transition: 0.3s linear color;
		border-color: #9d9d9d;
		&::after {
			background-image: url('../../../../../assets/icons/catalog/checkboxSortIcon.svg');
		}
	}
	&:active {
		background-color: #0b0b0b;
	}
}

.buttonsWrapper {
	position: relative;
	display: flex;
	gap: 30px;
	@media (max-width: 428px) {
		width: 100%;
	}
}
.sortBtn_wrapper {
	position: relative;
	@media (max-width: 428px) {
		flex: 1 1 48%;
	}
}
.dropList {
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: -196%;
	width: 100%;
	button {
		border-top: none;
	}
}

button.open {
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 16px;
		background-image: url('../../../../../assets/icons/catalog/sortIconOpen.svg');
		width: 24px;
		height: 24px;
	}
	&:hover {
		color: #ffffff;
		background: #9d9d9d;
		transition: 0.3s linear color;
		border-color: #9d9d9d;
		&::after {
			background-image: url('../../../../../assets/icons/catalog/sortIconOpenWhite.svg');
		}
	}
}
