.button {
	display: inline-block;
	font-family: 'Georama', sans-serif;
	border: 1px solid #0b0b0b;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #0b0b0b;
	background-color: transparent;
	padding: 14px 40px;
	transition: 0.3s linear background;
	&:hover {
		color: #ffffff;
		background: #9d9d9d;
		transition: 0.3s linear background;
		border-color: #9d9d9d;
	}
	@media (max-width: 428px) {
		padding: 14px 19px;
		flex: 1 1 45%;
		font-size: 18px;
	}
	@media (max-width: 390px) {
		font-size: 16px;
	}
}
.buttonSort {
	display: inline-block;
	position: relative;
	font-family: 'Georama', sans-serif;
	border: 1px solid #0b0b0b;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #0b0b0b;
	background-color: transparent;
	padding: 14px 65px 14px 16px;
	transition: 0.3s linear color;
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 16px;
		background-image: url('../../../../../assets/icons/catalog/catalogIcon.svg');
		width: 24px;
		height: 24px;
	}
	&:hover {
		color: #ffffff;
		background: #9d9d9d;
		transition: 0.3s linear color;
		border-color: #9d9d9d;
		&::after {
			background-image: url('../../../../../assets/icons/catalog/catalogIconWhite.svg');
		}
	}

	@media (max-width: 834px) {
		&::after {
			display: none;
		}
		padding: 14px 40px;
	}
	@media (max-width: 490px) {
		padding: 14px 19px;
		font-size: 18px;
	}
	@media (max-width: 392px) {
		font-size: 16px;
	}
}

.buttonsWrapper {
	position: relative;
	display: flex;
	gap: 30px;
}
.sortBtn_wrapper {
	position: relative;
}
.dropList {
	display: flex;
	flex-direction: column;
	position: absolute;
	bottom: -200%;
	width: 100%;
}
