.item {
    display: flex;
    gap: 30px;
    align-items: center;
    border: 1.5px solid #9d9d9d;

    @media (max-width: 1200px) {
        gap: 15px;
        padding-right: 5px;
    }

    &_img {

        img {
            display: block;
            object-fit: cover;
            }
@media (max-width: 992px) {
    img {
        max-width: 140px;
    }
}

@media (max-width: 992px) {
    img {
        max-width: 140px;
    }
}

@media (max-width: 850px) {
    img {
        max-width: 120px;
    }
}
}

&_description {
    // padding: 10px 10px 10px 0;
}

    h5 {
        font-family: "Neue Haas Grotesk Display Pro";
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 31px;
        color: #0b0b0b;

        @media (max-width: 1200px) {
            font-size: 20px;
            line-height: 25px;
        }

        @media (max-width: 850px) {
            font-size: 20px;
            line-height: 20px;
        }

        @media (max-width: 576px) {
            font-size: 16px;
            line-height: 19px;
        }
    }

    p {
        font-family: "Neue Haas Grotesk Display Pro";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #9d9d9d;
        margin: 10px 0 25px 0;
        max-height: 84px;
        overflow-y: auto;
        padding-right: 15px;

        @media (max-width: 1200px) {
            font-size: 16px;
            line-height: 18px;
            padding-right: 5px;
            margin: 10px 0 10px 0;
        }

        @media (max-width: 576px) {
            font-size: 14px;
            line-height: 17px;
        }
        }
        }
