.wrapper {
    background-color: #f2f2f0;
    margin: 80px auto 0;

    a {
        text-decoration: none;
    }

    &__box {
        margin: 0 auto;
        height: 700px;
        display: flex;
        max-width: 1440px;
        position: relative;


        @media (max-width:992px) {
            height: 865px;
        }

        @media (max-width:768px) {
            height: 860px;
        }



        .btn_slider_block {
            position: absolute;
            bottom: 18px;
            left: 100px;
            right: -12%;

            @media (max-width:992px) {
                gap: 24px 0;
                right: -94px;
                left: inherit;
            }

            @media(max-width:768px) {
                right: -15px;
                bottom: 0;
            }

            @media (max-width:576px) {
                right: 0;
                width: 100%;
            }
        }

        &_bottom {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            position: relative;
            z-index: 3;

            @media (max-width:992px) {
                flex-direction: column-reverse;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 24px 0;
            }

            @media(max-width:768px) {
                background-color: #F2F2F0;
                padding-bottom: 24px;
            }

            @media (max-width:576px) {
                padding: 0 24px 24px;
                width: 100%;
                align-items: center;
            }
        }
    }

    .offer {
        height: 100%;
        position: relative;
        max-width: 1230px;
        flex-grow: 2;

        &__bg {
            height: 100%;
            width: 100%;
            background: url('../../../../assets/images/main/main_country_photo.png') center/contain no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;

            @media (max-width:768px) {
                align-items: flex-start;
            }

            &_girl {
                position: absolute;
                bottom: 0;
                left: 25%;
                z-index: 2;

                @media (max-width:1200px) {
                    left: 10%;
                }
            }

            &_vertical {
                transform: rotate(-90deg) translateY(-65px);
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 60px;
                position: absolute;
                left: 0;
                top: 40%;

                @media (max-width: 1200px) {
                    display: none;
                }

                span {
                    font-family: "Neue Haas Grotesk Display Pro";
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: #0b0b0b;
                }
            }
        }

        &__title {
            display: flex;
            gap: 50px;
            padding: 0 24px 60px 80px;
            z-index: 3;

            @media(max-width: 1200px) {
                padding: 0 0 110px 0;
            }

            @media (max-width:992px) {
                flex-wrap: wrap;
                justify-content: flex-end;
            }

            @media (max-width:768px) {
                padding: 200px 40px 74px 88px;
                gap: 25px;
            }

            @media (max-width: 430px) {
                padding: 250px 20px 74px 40px;
            }

            span {
                font-family: "Russo One";
                font-style: normal;
                font-weight: 400;
                font-size: 143px;
                line-height: 172px;

                @media (max-width: 1200px) {
                    font-size: 120px;
                    line-height: 160px;
                }

                @media (max-width: 992px) {
                    font-size: 100px;
                    line-height: 131px;
                }

                @media(max-width:768px) {
                    font-size: 83px;
                    line-height: 107px;
                }

                @media (max-width: 430px) {
                    font-size: 64px;
                    line-height: 77px;
                }

                &:first-child {
                    color: transparent;
                    -webkit-text-stroke: 3px white;
                }

                &:last-child {
                    color: #fff;
                }
            }
        }
    }

    .next__slide {
        max-width: 150px;
        flex-grow: 1;
        height: 100%;
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        @media (max-width:992px) {
            max-width: 80px;
        }

        @media (max-width: 768px) {
            display: none;
        }
    }

    .slider__wrapper {
        max-width: 600px;
        cursor: grab;

        &:active {
            cursor: grabbing;
        }

        @media (max-width:992px) {
            max-width: 370px;
        }
    }


    .button_link {
        margin-bottom: 62px;

        @media (max-width:992px) {
            margin-bottom: 0;
        }

        @media(max-width:576px) {
            align-self: flex-end;
        }
    }
}
