.wrapper{
    // display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 30px;
    @media (max-width: 1300px) {
       
       flex-direction: column;
    }
}

.inputs_wrapper{
    display: flex;
    min-width: 0px;
    @media (max-width: 1300px) {
       
        flex-direction: column;
     }
}


//add photo 

.addphoto_wrapper{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;

}

.title{
    font-family: 'Georama', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    
    display: flex;
    align-items: center;

    color: #0B0B0B;
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    background-color: black;
    border-radius: 5px;
}

//